textarea, input, button { outline: none; }

body{
    background-color: #edf4ff;
}

.modal-backdrop{
    z-index: 2 !important;
}

.well{
    margin: 0;
}

.userList{
    height:350px;
    overflow-y: scroll;
}

.thumbnail{
    background-color: #333333;
    width: 350px;
    height: 265px;
}

.caption{
    position: absolute;
    top: 0;
    color: aliceblue !important;
    /*max-width: 95%;*/
}

hl{
    color: snow;
    background-color: RGBA(52, 73, 94, .7);
    padding: 1.5%;
}

.thumbnail img{
    width:100%;
}

#sIcon{
    float: right;
}

.errors{
    margin-top: 55px;
    position: absolute;
    float: right;
}

.thumbnail:hover {
    border: 1.5px solid RGBA(61, 154, 199, .6);
}
.thumbnail:hover .caption{
    opacity:0.9;
}

.inline{
    display: inline-block;
}

.panel-body{
    min-height: 60px;
}

.carousel-control.right{
    background-image: none !important;
}
.carousel-control.left{
    background-image: none !important;
}

.center{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.player-wrapper{
    position: absolute;
    background-color: RGBA(52, 52, 54, 1.00);
    width: 100%;
    left: 0;
    top: 45px;
}

.video-info{
    padding-top: 495px;
}

.comInput{
    background-color: aliceblue;
    border-radius: 4px 0 0 4px;
}

#commentSubmit{
    background: rgba(33,175,89,0.58);
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 15px;
    color: #fff;
    position: relative;
}

#commentSubmit:hover{
    background: rgba(44, 165, 71, 0.58);
}

.flex{
    display: flex !important;
}

.pad-r-20{
    padding-right: 20px;
}
.pad-l-20{
    padding-left: 20px;
}

.pad-l-40{
    padding-left: 40px;
}

.green{
    background-color: RGBA(126, 208, 158, 1.00) !important;
}

.alert{
    z-index: 200;
}