<template name="commentView">
    <div class="ui segment">
        <p>{{ username }}</p>
        <p id="commentText">{{ commentText }}</p>
        {{#if isOwner}}
            <button id="delete">delete</button>
        {{/if}}
        {{#if currentUser}}
            <button id="upVote">up vote</button>
            <button id="downVote">down vote</button>
            <p>Rating: {{rating}}</p>
            {{#if isRated}}
                <p>Thanks for rating!</p>
            {{/if}}
        {{/if}}
    </div>
</template>