<template name="videoPage">
    <div class="video-info">
        {{#with video}}
            <h3 class="inline">{{title}}</h3>
        {{/with}}
	{{#if currentUser}}
		{{#if isRated}}
			<h4 class="inline">Thanks for conributing to the community by rating this video!</h4>
		{{else}}
		<div class="rating inline">
			{{> starsRating id='rating' mutable=true}}
		</div>
		{{/if}}
	{{else}}
		<h4 class="inline">You must be logged in to rate videos</h4>
	{{/if}}

	</div>
	<div class="player-wrapper">
	    {{> player}}
	</div>
    {{#with video}}
        <h3>{{tags}}</h3>
    {{/with}}
	<div class="flag">
		 <a class="item" data-toggle="modal" data-target="#reportModal">Report</a>
                    {{> report}}
	</div>
	{{#if isInRole 'mod'}}
	<div class="modTools">
		 <a class="item" data-toggle="modal" data-target="#modModal">Edit/Delete</a>
                    {{> modTools}}
	</div>
	{{/if}}

    {{#if currentUser}}
        <textarea id="commentText"></textarea>
        <button id="commentSubmit">Comment</button>
    {{/if}}
    <div class="commentSection">
        <h3>there are {{numComments}} comments:</h3>
        <h4>Sort comments by: </h4>
        <select>
            <option value="newest">Newest</option>
            <option value="topRated">Top Rated</option>
        </select>
        {{#each Comments}}
            {{> commentView}}
        {{/each}}
    </div>
</template>
