<template name="videoPage">
	<div class="player-wrapper center">
	    {{> player}}
	</div>
    <div class="video-info">
        <div>
            {{#with video}}
                <h1 class="inline pad-r-20">{{title}}</h1>
                <h5 class="inline pad-r-20">{{tags}}</h5>
            {{/with}}
            {{#if currentUser}}
                {{#if isRated}}
                    <h4 class="inline">Thanks for conributing to the community by rating this video!</h4>
                {{else}}
                    <div class="rating inline">
                        {{> starsRating id='rating' mutable=true}}
                    </div>
                {{/if}}
            {{/if}}
        </div>

        <div class="flag pull-right">
            <a class="item" data-toggle="modal" data-target="#reportModal">Report</a>
            {{> report}}
        {{#if isInRole 'mod'}}
            <br>
            <a class="item" data-toggle="modal" data-target="#modModal">Edit/Delete</a>
            {{> modTools}}
        {{/if}}
        </div>

        {{#if currentUser}}
            <div class="center flex">
                <textarea id="commentText" class="comInput" rows="3" cols="80"></textarea>
                <button id="commentSubmit">Comment</button>
            </div>
        {{else}}
            <h4 class="inline">You must be logged in to rate or comment videos</h4>
        {{/if}}
        <div class="commentSection">
            <br>
            <div class="ui dividing header">
                <h4 class="inline">Sort comments by: </h4>
                <select class="inline" id="commentSort">
                    <option value="newest">Newest</option>
                    <option value="topRated">Top Rated</option>
                </select>
            </div>

            {{#each Comments}}
                {{> commentView}}
            {{/each}}
        </div>
    </div>
</template>
