<template name="videoPage">

	{{#if currentUser}}
		{{#if isRated}}
			<h4>Thanks for conributing to the community by rating this video!</h4>
		{{else}}
		<div class="rating">
			{{> starsRating id='rating' mutable=true}}
		</div>
		{{/if}}
	{{else}}
		<h4>You must be logged in to rate videos</h4>
	{{/if}}
	<div class="video-info">
	{{#with video}}
		<h3>{{title}}</h3>
		<h3>{{tags}}</h3>
		{{/with}}
	</div>
	<div class="player-wrapper">
	{{> player}}
	</div>
	<div class="flag">
		 <a class="item" data-toggle="modal" data-target="#reportModal">Report</a>
                    {{> report}}
	</div>
	{{#if isInRole 'mod'}}
	<div class="modTools">
		 <a class="item" data-toggle="modal" data-target="#modModal">Edit/Delete</a>
                    {{> modTools}}
	</div>
	{{/if}}
	<textarea></textarea>
</template>

