<template name="videoSubmit">
    <form>
        <h1>Submit A Video</h1>
        <div class="form-group">
            <div class="input-group">
                <input type="text" id="vidTitle" class="form-control" placeholder="Title">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" id="vidUrl" class="form-control" placeholder="Youtube URL">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" id="vidTags" class="form-control" placeholder="tags (beat,country,rock)">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <button type="submit" class="btn-primary btn">Submit</button>
            </div>
        </div>
    </form>
</template>