<template name="report">
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModal">
	    <div class="modal-dialog" role="document">
		    <div class="modal-content">

			    <div class="modal-header">
				    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				    <h4 class="modal-title" id="myModalLabel">What's wrong with this video?</h4>
			    </div>

			    <div class="modal-body">

                    <div class="reportTypes">
                        <select>
                          <option value="notLesson">Not a lesson</option>
                          <option value="badTitle">Bad title</option>
                          <option value="badTags">Bad tags</option>
                        </select>
                    </div>
                    
                </div><!-- /.modal-body -->

                <div class="modal-footer">
                <form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="button" id="reportSubmit" class="btn btn-primary" data-dismiss="modal" value="Submit report"/>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>