<template name="reportItem">
	<div class="ui segment">
	<div class="ui grid">
	<div class="fourteen wide column">
		<h3><a href="{{pathFor 'videoPage'}}" id="link">{{title}}</a></h3>
		{{> starsRating rating=rating size=20}}
        <p>Ratings: {{numOfRatings}}</p>
        <p>Submitted {{submitted}}</p>
        </div>
        <div class="two wide column">
        <h3>Reports:</h3>
        <h4>Not a lesson: {{getNotLessonReports}}
        <br>Bad title: {{getBadTitleReports}}
        <br>Bad tags: {{getBadTagsReports}}</h4>
        </div>
</div>
	</div>
</template>