<template name="settings">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Your Settings</h4>
			</div>
			<div class="modal-body">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Option1</button>
					<button type="button" class="btn btn-default">Option2</button>
					<button type="button" class="btn btn-default">Option3</button>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="input-group">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<p>Do this eh?</p>
							</div><!-- /input-group -->
							</div><!-- /.col-lg-6 -->
							<div class="col-lg-6">
								<div class="input-group">
									<span class="input-group-addon">
										<input type="checkbox" aria-label="...">
									</span>
									<p>Do that EHHH?</p>
									</div><!-- /input-group -->
									</div><!-- /.col-lg-6 -->
									</div><!-- /.row -->
								</div>
							<button type="button" class="btn btn-default">Clear Histroy?</button>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save changes</button>
								</div>
							</div>
						</div>
					</div>
					</template>