<template name="settings">
    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModal">
	    <div class="modal-dialog" role="document">
		    <div class="modal-content">

			    <div class="modal-header">
				    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				    <h4 class="modal-title" id="myModalLabel">Your Settings</h4>
			    </div>

			    <div class="modal-body">

                    
                    <button id="clearHistory" type="button" class="btn btn-default">Clear Histroy?</button>
                    <p>This will clear the data used to suggest content</p>
                </div><!-- /.modal-body -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- given the current state, no save button needed
                    <button type="button" class="btn btn-primary">Save changes</button>
                    -->
                </div>
            </div>
        </div>
    </div>
</template>