<template name="header">
    <div class="ui fixed inverted menu">
        <div class="container">
            <a class="header item" href="{{pathFor 'homePage'}}"><img src="img/LC.svg">essonator</a>
            <form class="item" role="search">
                <div class="ui transparent inverted icon input">
                    <a id="sIcon"><i class="search icon"></i></a>
                    <input id="userSearch" type="text" placeholder="Search">
                </div>
            </form>
            <!--
            <a class="item" href="{{pathFor 'videoListSuggested'}}">Suggested Videos</a>
            -->
            <div class="right menu">
                <a class="item" href="{{pathFor 'videoListNewest'}}">Newest Videos</a>
                <a class="item" href="{{pathFor 'videoListToprated'}}">Top Rated Videos</a>
            {{#if isInRole 'admin'}}
                <a class="item" href="{{pathFor 'adminPage'}}">admin</a>
            {{/if}}
            {{#if isInRole 'mod'}}
                <a class="item" href="{{pathFor 'modPage'}}">Mod Tools</a>
            {{/if}}
                {{#if currentUser}}
                    <a class="item" href="{{pathFor 'videoSubmit'}}">Submit a Video</a>
                    <a class="item" data-toggle="modal" data-target="#settingsModal">Settings</a>
                    {{> settings}}
                {{/if}}
                <a class="item">{{> loginButtons}}</a>
            </div>
        </div>
    </div>
</template>