<template name="header">
    <div class="ui fixed inverted menu">
        <div class="container">
            <a class="header item" href="{{pathFor 'homePage'}}">Lessonator</a>
            <div class="item">
                <div class="ui transparent inverted icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="right menu">
                {{#if currentUser}}
                    <a class="item" href="{{pathFor 'videoSubmit'}}">Submit a Video</a>
                    <a class="item" data-toggle="modal" data-target="#settingsModal">Settings</a>
                    {{> settings}}
                {{/if}}
                <a class="item">{{> loginButtons}}</a>
            </div>
        </div>
    </div>
</template>