<template name="topRatedSlide1">
	<div class="item active">
		{{#each topRatedVideoSet1}}
			{{>videoItem}}
		{{/each}}
	</div>
</template>


<template name="topRatedSlide2">
	<div class="item">
		{{#each topRatedVideoSet2}}
			{{>videoItem}}
		{{/each}}
	</div>
</template>

<template name="topRatedSlide3">
	<div class="item">
		{{#each topRatedVideoSet3}}
			{{>videoItem}}
		{{/each}}
	</div>
</template>

<template name="newestSlide1">
	<div class="item active">
		{{#each newestVideoSet1}}
			{{>videoItem}}
		{{/each}}
	</div>
</template>


<template name="newestSlide2">
	<div class="item">
		{{#each newestVideoSet2}}
			{{>videoItem}}
		{{/each}}
	</div>
</template>

<template name="newestSlide3">
	<div class="item">
		{{#each newestVideoSet3}}
			{{>videoItem}}
		{{/each}}
	</div>
</template>

<template name="suggestedSlide1">
	<div class="item active">
		{{#each suggestedVideoSet1}}
			{{>videoItem}}
		{{/each}}
	</div>
</template>


<template name="suggestedSlide2">
	<div class="item">
		{{#each suggestedVideoSet2}}
			{{>videoItem}}
		{{/each}}
	</div>
</template>

<template name="suggestedSlide3">
	<div class="item">
		{{#each suggestedVideoSet3}}
			{{>videoItem}}
		{{/each}}
	</div>
</template>